@import "~bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap");

.game{
    font-family: brandon-grotesque, sans-serif;
}

.boardGame {
    height: 30rem;
    width: 30rem;
    margin: 0 auto;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.squareButton {
    font-family: brandon-grotesque, sans-serif;
    border: 2px solid #222222;
    font-size: 5rem;
    color: white;
    background-color: #333333;
}

.squareButton:focus{
    outline: none;
}

.next{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    font-size: 1.5rem;
    border-bottom: 2px solid #6e64a5;
    margin-bottom: 2rem;
}

.winner{
    font-weight: 500;
    font-size: 1.5rem;
    color:white;
}

.nextIs{
    align-self: center;
    color: white;
}

.buttonContainer{
    display: flex;
    justify-content: center;
}

.resetButton{
    text-transform: uppercase;
    display: inline-block;
    padding: 15px 20px;
    position: relative;
    line-height: 1;
    text-decoration: none;
    -webkit-transition: all 350ms ease-in-out;
    -moz-transition: all 350ms ease-in-out;
    -ms-transition: all 350ms ease-in-out;
    -o-transition: all 350ms ease-in-out;
    transition: all 350ms ease-in-out;
    background: #6e64a5;
    border: 0;
    color: #fff;
    font-family: brandon-grotesque, sans-serif;
    font-weight: 700;
    cursor: pointer;
    margin: 2rem;
}
.resetButton:hover{
    background: #47416b;
}
.resetButton:focus{
    outline: none;
}
.resetButton:active{
    background: #332e4d;
}
body{
    background-color: #222222;
    font-family: brandon-grotesque, sans-serif;
    color: white;
}
